:root {
  --clr-blue: #1d3fbb;
  --clr-green: #00c1b5;
  --clr-orange: #ff651a;
  --clr-pink: #ff608c;
  --clr-red: #e30512;
  --clr-white: #ffffff;
  --clr-yellow: #ffbe00;

  --ff-primary: "Roboto", sans-serif;
  --ff-body: var(--ff-primary);
}

/*andy bell's reset con modificaciones*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* estilos generales */
body {
  font-family: var(--ff-body);
  background: var(--clr-pink);
}

.main {
  display: grid;
}

/* header - logo */
.logo-wrapper {
  margin: 1.3rem 1rem 0 1rem;
}

.logo {
  width: 160px;
}
/*issues*/
.issue-wrapper {
  /* 10px arriba, 3px derecha, 30px abajo, 5px izquierda */
  margin: 6rem 0 12rem 0;
}
#issue_1 .issue-wrapper:last-child {
  /* 10px arriba, 3px derecha, 30px abajo, 5px izquierda */
  margin: 6rem 0 7rem 0;
}

.cover-wrapper {
  margin: 0 2rem 0 2rem;
}

.description {
  line-height: 2.5rem;
  font-size: 1.2rem;
}

.buy {
  line-height: 2rem;
}

.link {
  color: var(--clr-white);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.footer {
  text-align: center;
  line-height: 1.5rem;
}

.footer-description {
  font-size: 1.22rem;
  margin: 0 1.5rem 1rem 1.5rem;
}

.footer-link {
  color: black;
}

.footer-bar {
  /* 10px arriba, 3px derecha, 30px abajo, 5px izquierda */
  margin: 1.5rem 0 1.5rem 0;
  line-height: 5rem;
  font-size: 1.2rem;
}

/*clases de utilidad*/
.content-center {
  text-align: center;
}

.fw-medium {
  font-weight: 500;
}
.fw-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}
